*.class


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/codebase/quiz-parent/.project

#eclipse specific files removed
.classpath
.project
.settings

#IntelliJ specific files removed
**/.idea
*.iml

#maven specific folders removed
target
bin

#ionic specific ignores
node_modules
.tmp
.sass-cache
bower_components
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
