<ion-app>
  <ion-menu side="start" contentId="content">
    <div class="side-menu">
      <div class="profile" *ngIf="auth.user$ | async as user">
        <img [src]="user.picture" [alt]="user.nickname" />
        <div class="userSection">
          <div class="name">{{ user.nickname }}</div>
          <div class="mail">{{ user.email }}</div>
        </div>
      </div>
      <ion-list class="itemsList">
        <ion-menu-toggle>
          <div class="item ion-activatable ripple-parent rounded-rectangle" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
            <span class="itemTitle" *ngIf="loginMode === 'user'">
              Logout
            </span>
            <span class="itemTitle" *ngIf="loginMode === 'guest'">
              Logout as Guest
            </span>
            <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
          </div>
          <div *ngIf="loginMode === 'user'" class="item ion-activatable ripple-parent rounded-rectangle" (click)="deactivate()">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
            <span class="itemTitle">
              Delete Account
            </span>
            <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
          </div>
        </ion-menu-toggle>
      </ion-list>

    </div>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
