<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon class="backBtn" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Sub Topics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loader" class="loaderStyle">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list>
    <ion-item lines="full" button detail="true" *ngFor="let subTopic of subTopics" (click)="subTopicClick(subTopic)">
      <ion-label>{{subTopic.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>