
ion-toolbar {
    --background: var(--ion-color-primary);
    color: #fff;
    font-weight: bold;
    text-align: center;
    --border-color: var(--ion-color-primary);
}

.loginCard {
    ion-list {
        margin: 10px;

        ion-item {
            padding: 5px;
        }

        ion-button {
            margin: 5px;
        }
    }
}

.loading {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .detail {
      font-size: 20px;
      font-weight: bold;
      font-style: oblique;
    }
  }
  