<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="loginCard">
      <ion-list>
        <ion-item fill="outline" mode="md">
          <ion-label position="floating">User Name</ion-label>
          <ion-input [(ngModel)]="userName" placeholder="User Name"></ion-input>
        </ion-item>
        <ion-item fill="outline" mode="md">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>
          <ion-button expand="block" (click)="login()">Login</ion-button>
      </ion-list>
    </ion-card>
</ion-content>
