
ion-toolbar {
    --background: var(--ion-color-primary);
    color: #fff;
    font-weight: bold;
    text-align: center;
    --border-color: var(--ion-color-primary);
}

.header {
    display: block;
    background: #f2f2f2;
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #c8c7cc;
}

ion-item {
    ion-label {
        font-size: 15px;
        text-transform: capitalize;
    }
}

ion-input {
    --padding-start: 15px;
    border-bottom: 1px solid #c8c7cc;
}

ion-button {
    margin: 10px;
    padding: 5px;
}
