.header {
    display: block;
    background: #f2f2f2;
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #c8c7cc;
    border-top: 1px solid #c8c7cc;
}


ion-header ion-toolbar {
    --background: var(--ion-color-primary);
    color: #fff;
    font-weight: bold;
    text-align: center;
    --border-color: var(--ion-color-primary);
}

.footer {
    div {
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        ion-button {
            flex: 1;
        }
    }
}

.badges {
    height: 50px;
    margin: 10px 10px 0px 10px;
    white-space: nowrap;
    overflow: scroll;
    text-align: center;
    transition: auto;
    .circle {
        display: inline-table;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        background-color: #bbb;
        border-radius: 50%;
        &.active {
            background-color: var(--ion-color-primary);
            color: #fff;
        }
    }
    

    .circle__content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

}

.questionDivider {
    --padding-start: 0px;
    min-height: 5px;
    border-radius: 11px;
}

.headerRightBtn {
    --background: #11c1f3;
}

.question {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.answer {
    white-space: inherit;
    padding: 15px;
    margin: 0;
    line-height: 21px;
}

.answerItem {
    --padding-start: 0px;
}

.textArea {
    border: 1px solid #c8c7cc;
    border-radius: 10px;

    ion-textarea {
        padding: 11px;
        height: 210px;
    }
}

.badges::-webkit-scrollbar {
    display: none;
}

.multiCard {
    margin: 16px;
    margin-inline:0px;
    .optionTxt{
        padding: 5px 0px;
    }
    ion-radio  {
        margin-inline: 10px;
    }
}