<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon class="backBtn" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
  <ng-container *ngIf="questionNoShow && QAs.length">
    <div class="badges">
      <div class="circle" *ngFor="let qa of QAs; let i= index" [ngClass]="{active: currentQusIndex == i}">
        <span id="qaNo-{{i}}" class="circle__content">{{i + 1}}</span>
      </div>
    </div>
    <ion-item-divider class="questionDivider"></ion-item-divider>
    <!-- <ion-range [pin]="false"></ion-range> -->
  </ng-container>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="QAs.length">
    <div class="question">
      {{QAs[currentQusIndex].question}}
    </div>
    <!-- Mutiple Answer -->
    <ng-container *ngIf="QAs[currentQusIndex]?.answers.length > 1">
      <ion-card class="multiCard" *ngFor="let option of QAs[currentQusIndex]?.options">
        <ion-item lines="none">
          <ion-checkbox mode="md" slot="start" [(ngModel)]="option.checked"></ion-checkbox>
          <div class="optionTxt">
            {{option.text}}
          </div>
        </ion-item>
      </ion-card>
    </ng-container>
    <!-- Single Answer -->
    <ng-container *ngIf="QAs[currentQusIndex]?.answers.length == 1 && QAs[currentQusIndex]?.options.length > 0">
      <ion-radio-group [(ngModel)]="singleAns" (ionChange)="singleAnswerSelection()">
        <ion-card class="multiCard" *ngFor="let option of QAs[currentQusIndex]?.options;let i = index">
          <ion-item class="answerItem" lines="none">
            <div class="optionTxt">
              {{option.text}}
            </div>
            <ion-radio mode="md" slot="start" [(ngModel)]="option.option"></ion-radio>
          </ion-item>

        </ion-card>
      </ion-radio-group>

    </ng-container>
    <!-- User Input Screen -->
    <ng-container *ngIf="QAs[currentQusIndex]?.options.length == 0">
      <div class="textArea">
        <ion-textarea rows="9" placeholder="Enter your answer" [(ngModel)]="customAns[currentQusIndex]"></ion-textarea>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ion-footer class="ion-no-border footer">
  <div>
      <div>
        <ion-fab>
          <ion-fab-button size="small" [disabled]="!currentQusIndex" (click)="previousClick()">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      <div *ngIf="reachEnd" >
        <ion-button class="publish" fill="outline" (click)="submitAns()">
           Submit
        </ion-button>
      </div>
      <div>
        <ion-fab>
          <ion-fab-button size="small" [disabled]="(currentQusIndex == QAs.length -1)" (click)="NextClick()">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
  </div>
</ion-footer>