<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="logoutBtn" (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title>
     Topics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loader" class="loaderStyle">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list>
    <ion-item lines="full" button detail="true" *ngFor="let topic of topics" (click)="topicClick(topic)">
      <ion-label>
        {{topic.title}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
